.news-flex-box {
  flex: 0 0 auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 0.8rem;
}

.news-box {
  flex: 1;
}

.update-box {
  flex: 1;
}

.miniroom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-title {
  font-family: "Do Hyeon";
  border-bottom: 1px solid grey;
  color: #93d0ec;
}

.news-row {
  display: flex;
  font-size: 0.85rem;
  margin: 3px 0;
}

.news-category {
  padding: 0 6px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
}

.category-pic {
  background-color: #f5a6a6;
}

.category-post {
  background-color: #88a7f5;
}

.menu-row {
  display: flex;
  border-bottom: 1px dashed grey;
  margin: 3px 0;
}

.menu-item {
  flex: 1;
}

.menu-num {
  font-family: "Do Hyeon";
  padding-left: 6px;
  color: #003399;
}

.miniroom-image-box {
  background-color: #1594dd;
  border: 1px solid #003399;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniroom-image-box > img {
  width: 70%;
}
